/**
    mixins
*/

@mixin font-size($size, $weight) {
    font-family: 'Roboto', sans-serif;
    font-size: $size;
    font-weight: $weight;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    //margin: 10%;
}


.promo {
    height: 100vh;
    width: 100%;
    background: black;
    //background: white;
    display: flex;
    align-items: center;
    justify-content: center;


    &_latter {
        color: white;
        font-size: 1vw;
    }
}


.tree{
    overflow-x: auto;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#setting {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: whitesmoke;
}

#settingWrapper {
    display: flex;
    flex-direction: column;
}

.spinnerWrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    background-image: url("../../../assets/img/oval.svg");
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 999999;
    animation: roll-r 4s linear infinite;
}

.hide {
    display: none;
}

.footer {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}

img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


@keyframes roll-r {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
@keyframes roll-l {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(-360deg);}
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}


@media screen and (max-width: 480px) {
    .typewriter h3 {
         color: #fff;
         font-family: monospace;
         overflow: hidden;
         margin: 0 auto;
         letter-spacing: .15em;
     }

    #setting {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 40px;
        background-color: whitesmoke;
    }
}


@media screen and (min-width: 481px) {
    .typewriter h3 {
        color: #fff;
        font-family: monospace;
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        word-wrap: break-word;
        animation:
                typing 3.5s steps(30, end),
                blink-caret .5s step-end infinite;
    }
}



