@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../assets/fonts/Roboto-Light.ttf);
}

html {
  overflow-x: hidden;
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

/*
 *  fix yellows input (ty webkit)
 */

input {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  -webkit-text-fill-color: #999 !important;
  color: #999 !important;
}

::-webkit-input-placeholder {
  color: #d2d3d5;
}
::-moz-placeholder {
  color: #d2d3d5;
}
:-ms-input-placeholder {
  color: #d2d3d5;
}
:-moz-placeholder {
  color: #d2d3d5;
}

/*
 *  end fix
 */

